<!--<ng-container *ngIf="tabs.changes | async; let data">-->
<!--  <ng-container *ngFor="let tab of data">-->
<!--    <ng-container *ngTemplateOutlet="tab.title.template"></ng-container>-->
<!--  </ng-container>-->
<!--</ng-container>-->
<div class="tabs__titles">
  <ng-container *ngFor="let tab of tabs; index as i">
    <div class="tabs__title" (click)="selectTab(i)" [class.tabs__title--active]="i === activeTabIndex">
      <ng-container *ngTemplateOutlet="tab.title.template"></ng-container>
    </div>

  </ng-container>
</div>
<div *ngIf="activeTab">
  <ng-container *ngTemplateOutlet="activeTab?.content?.template"></ng-container>
</div>


